body {
  background:#CEF5B5;
}
h1{
  text-align: center;
  color: darkgreen;
  font-family: "Fascinate Inline", system-ui;
  font-size: 300%;
  
}
h2{
  text-align: center;
  color: green;
  font-family: "Nerko One", cursive;
  font-weight: 300;

}
h3{
  text-align: center;
  color: darkgreen;
  font-family: "Fascinate Inline", system-ui;
  font-size: 200%;
  
}
.container
{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
input {
  width: 300px; 
  height: auto; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
}
table
{
 color: black;
 border-collapse: collapse;
}
th, td {
  border: 1px solid black; 
  padding: 10px; 
  text-align: left; 
  color: white
}
th {
  background-color: darkgreen; 
}
thead {
  background-color: green; 
}
#buttonSection
{
  display: flex;
  background-color:darkgreen;
  flex-direction:row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding:20px;
  border-style:solid;
  border-color:white;
  border-width: 5px;
  height: 70px;
  width: 350px;
}
#button
{
  background-color: white;
  font-weight: bold;
  height: 25px;
  cursor: pointer; 
}
#deleteButton
{
  background-color: white;
  font-weight: bold;
  height: 25px;
  cursor: pointer; 
}
#updateButton
{
  background-color: darkgreen;
  font-weight: bold;
  height: 25px;
  color: white;
  border-color: white;
  border-width: 5px;
  height: 40px;
  width: 100px;
  cursor: pointer; 
}
#deleteDates
{
  width: 210px;
}
#pastEntries
{
  background-color: white;
  font-weight: bold;
  height: 50px;
  width: 200px;
  cursor: pointer; 

}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Overlay background */
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  text-align: center;
}
.popup-content > * {
  margin-bottom: 10px; /* Adds space between each child element */
}
.popup-content > *:last-child {
  margin-top: 30px;
}
.popup-content > *:first-child {
  margin-bottom: 30px;
}

.updateButtonClose{
  display: inline-block;
  padding: 10px 20px; 
  background-color: darkgreen;
  color: white;
  text-align: center;
  text-decoration: none; 
  cursor: pointer; 
  font-weight: bold;
  transition: background-color 0.3s; 
}




